@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: radial-gradient(#fff,#ffd6d6);
}
.container {
  height: 650px;
  width: 1300px;
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 30px;
  margin-bottom: 40px;
  display: inline-block;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 40px;
  bottom: 50px;
  right: 10px;
  box-shadow: 0px 0px 15px 0px black;
}
.chat-header {
  height: 60px; 
  border-radius: 30px;
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  background: #ff523b;
  color: var(--light-color);
  font-size: 1.5rem;
}

.chat-header .logo {
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 10px 0px black;
}
.chat-header img {
  height: 100%;
  width: 100%;
}
.chat-header .title {
  padding-left: 10px;
}
.chat-body {
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  align-items: flex-end;
  overflow-y: auto;
}
.chat-input {
  height: 60px;
  display: flex;
  align-items: center;
  background: radial-gradient(#fff,#ffd6d6);
}
.input-sec {
  flex: 9;
}
.send {
  flex: 1;
  padding-left: 800px;
  margin-top: 30px;

}
#txtInput {
  line-height: 30px;
  padding: 8px 10px;
  border: 2px;
  outline: 1px;
  border-radius: 20px;
  caret-color: black;
  background: #ec9090;
  font-size: 1rem;
  width: 100%;
}

.chatbot-message,
.user-message {
  padding: 8px;
  background: #f07b7b;
  margin: 5px;
  width: max-content;
  border-radius: 10px 3px 10px 10px;
}
.chatbot-message {
  background: #ff523b;
  color: var(--light-color);
  align-self: flex-start;
  border-radius: 10px 10px 3px 10px;
}
.backbtn{
  padding-left: 950px;
}